nav {
  text-align: right;
}

a {
  color: white;
  padding: 8px;
  text-decoration: none;
 
}

a:hover {
  color: blueviolet;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}




h1 {
  color: white;
 
}

body {
  background-image: url('https://i.pinimg.com/originals/0a/f3/15/0af315655ca737cae091bc644d096e66.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.new-launch {
  margin: 50px;
  border-style: dashed;
  border-color: white;
  flex-wrap: wrap;
}

img {
  height: 50px;
}

.carousel-container {
  width: 60%;
  border: 5px solid white;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.old-launches {
  display: flex;
  width: 100%;
  position: relative;
 
}

  /* display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; */


.old-rocket {
  position: relative;
  padding: 0 15px;
  align-items: center;
  height: 550px;
  margin: 0 auto;
  
}

/* p {
  padding: 0 18px;
  display: none;
  overflow: hidden;
} */


