nav {
  text-align: right;
}

a {
  color: white;
  padding: 8px;
  text-decoration: none;
 
}

a:hover {
  color: blueviolet;
}

*{
  /* padding: 0px;
  margin: 0px; */
  box-sizing: border-box;
}




h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
 
}

body {
  background-image: url('https://i.pinimg.com/originals/0a/f3/15/0af315655ca737cae091bc644d096e66.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.new-launch {
  margin: 50px;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  border-style: dashed;
  border-color: white;
}

img {
  height: 50px;
}

.carousel-container {
  display: flex;
  width: 60%;
  border: 5px solid white;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.old-launches {
  display: flex;
  width: 100%;
  position: relative;
 
}

@media only screen and (min-width: 769px) and (max-width: 1281px) {
  .carousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    width: 100%;
    position: relative;
  }

  #next {
    display: none;
  }

  .old-rocket {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
}


.old-rocket {
  position: relative;
  padding: 0 10%;
  align-items: center;
  /* height: 550px; */
  margin: 0 auto;
  
}


 


