header {
  background-color: rgb(7, 2, 29);
  padding: 10px; 
  text-align: left;
  position: fixed; 
  top: 0; 
  width: 100%;
  overflow: visible;
  z-index: 9;
  
}

a {
  color: white;
  padding: 5px;
  text-decoration: none;
  
 
}

a:hover {
  color: blueviolet;
}


main {
  margin-top: 60px;
}


h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
 
}

body {
  background-image: url('https://i.pinimg.com/originals/0a/f3/15/0af315655ca737cae091bc644d096e66.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

button {
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  padding: 12px 28px;
  align-items: center;
  margin: 20px;
}

.new-launch {
  margin: 50px;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  border-style: dashed;
  border-color: white;
}

.crew {
  box-sizing: border-box;
  border-style: dotted;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 400px;
}

.new-launch img {
  width: 50%;
}

.old-rocket img {
  height: 50px;
}

.crew img {
  width: 50%;
}

.starlink img {
  width: 50%;
}

.carousel-container {
  display: flex;
  width: 60%;
  border: 1px solid white;
  margin: auto;
  overflow: hidden;
  
}

.old-launches {
  display: flex;
  width: 100%;
  
 
}

.old-rocket {
  padding: 0 11%;
 
  
}



@media only screen and (min-width: 768px){
  header {
    text-align: right;
    padding: 10px;
    justify-content: space-evenly;
    background-color: rgb(2, 2, 53);
    font-size: 20px;
  }

  main {
    margin-top: 120px;
  }

  #past {
    margin: 50px;
  }

  .starlink img {
    width: 200px;
  }
  
  .carousel-container {
    width: 70%; 
    
  }

  .new-launch {
    width: 70%;
    margin: 0 auto;
    
  }

  .new-launch img {
    width: 200px;
  }

  .old-launches {
    display: flex;
    overflow-x: scroll;
    
  }

  .crew {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 500px; */
    margin: 0 auto;
  }

  .crew img {
    width: 200px;
  }


  #next {
    display: none;
  }

  .old-rocket {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
}





 


